__pycache__/
*.pyc
.DS_Store

2_PES/training_backend_amoeba_damping/logs/
2_PES/training_backend_amoeba_damping/checkpoints/params.epoch*.pickle
2_PES/training_backend_amoeba_damping/checkpoints/params.epoch*.xml
2_PES/training_backend_amoeba_damping/checks/latest/scan_components_*.png

3_MD/CMD_H2O/*.log
3_MD/CMD_H2O/*.log_dmff
3_MD/CMD_H2O/*.tmp.xml
3_MD/CMD_H2O/out_*
3_MD/CMD_H2O/pos_*
3_MD/CMD_H2O/for_*
3_MD/CMD_H2O/*.restart
3_MD/CMD_H2O/thole_scan/

